.progerssMargin {
  margin:20px 0px;
}
.dropzone {
  width: 100%;
  height: 100px;
  display:flex;
  flex-flow:column;
  align-items:center;
  justify-content:center;
  background-color: #3f51b5;
}
.fileInput {
  display: none;
  height:100%;
  width:100%;
  position:relative;
}
/*.dropzone {
  width: 300px;
  height: 250px;
  position: relative;
}

.dropzone-center {
  display: block;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.dropzone-img {
  color: black;
  display: block;
  position: relative;
  width: auto;
  font-size: 48px;
  margin: 25px auto;
  font-family: 'Material Icons';
}

.drop-zone-browser {
  color: white;
  border: dashed 1px #3f51b5;
  background-color: #3f51b5;
  border-radius: 10px;
  padding: 1px 5px;
  cursor: pointer;
}

.blue {
  color: #3f51b5;
}

input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
*/
