<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<mat-card>
  <mat-card-title>{{ 'ADMIN.REMOVE_ACCES_CLIENT.LABEL' | translate }}</mat-card-title>
  <mat-card-subtitle>{{ 'ADMIN.REMOVE_ACCES_CLIENT.SELECT_COMPANYS' | translate }} {{data.userName}}</mat-card-subtitle>
  <swi-table (elementDblClick)="dbClickHandler($event)" [selection]="selection" [sortActive]="sortActive" [requestUrl]="requestUrl" [headerRow]="headerRow" [validators]="validators" [displaySelections]="true" [displayFilters]="true" [refreshTable]="refreshTable.asObservable()"></swi-table>
  <mat-card-actions>
    <button mat-button (click)="confirm()"><mat-icon class="int-item">done</mat-icon>{{ 'ADMIN.REMOVE_ACCES_CLIENT.SAVE' | translate }}</button>
  </mat-card-actions>
</mat-card>
