.cell {
}

.row {
  cursor: pointer;
  margin:0;
}

.cell-id {
  width: 50px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

::ng-deep .mat-sort-header-container .mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-sort-header-content {
  text-align: left;
}
.inputfillter {
  text-align: left !important;
  width: 100% !important;
}
mat-form-field {
  width: 100% !important;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
table {
  width: 100%;
}
::ng-deep .mat-sort-header-content {
  width: 100% !important;
}
::ng-deep .mat-sort-header-container {
  width: 85% !important;
}

.cdk-column-select mat-column-select {
border:none !important;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right:0px;
  border: 0px;
}
