
strong {
  font-weight: bold
}

/* changes */
.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card-content {
  display: flex;
  flex-direction: row;
}

#h2cfix {
}

h1 {
  font: bold 100% sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #999;
  border-radius: 0.25em;
  color: #FFF;
  margin: 0 0 1em;
  padding: 0.5em 0;
}

.adress {
  font-size: initial;
  font-weight: initial;
}

mat-card-title {
  height: auto;
  min-height: unset;
}

mat-card {
  height: auto;
}

#invoice {
  margin-bottom: 80px;
  height: auto;/*1445.265156px;*/
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

#invoice > div {
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
}

.turnPageBtn {
  width: auto;
  display: flex;
  height: 1503.904px !important;
  margin-bottom: 80px;
}

  .turnPageBtn mat-icon {
    transform: scaleY(5);
  }
  .turnPageBtn button {
    padding:0;
  }

mat-card-content > div img {
  float: right;
}

/* table */
table {
  font-size: 100%;
  table-layout: fixed;
  width: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
}

th, td, .th, .td {
  border-width: 1px;
  padding: 0.25em;
  position: relative;
  text-align: left;
  border-radius: 0.25em;
  border-style: solid;
}

.th, th {
  background: #EEE;
  border-color: #BBB;
}

td, .td {
  border-color: #DDD;
}
/* article */
article, article address, table.meta, table.inventory {
  margin: 0 0 3em;
}

  article:after {
    clear: both;
    content: "";
    display: table;
  }

address {
  float: left;
}

  address .name {
    font-weight: bold;
  }

article address.contractor {
  max-width: 100mm
}
/* table meta & balance */

table.meta {
  float: right;
  width: 50%;
}

table.balance {
  float: right;
  width: 50%;
}

  table.meta:after, table.balance:after {
    clear: both;
    content: "";
    display: table;
  }

/* table meta */

table.meta th {
  width: 40%;
}

table.meta td {
  width: 60%;
}

/* table items */

/*table.inventory {
  clear: both;
  width: 100%;
}*/
.entry, .entrysHeader {
  display: flex;
  width: 100%;
  /*  max-height:20px;*/
  flex-direction: row;
  font-size: 80%;
  font-weight: 600;
}

  .entry div {
    text-align: center;
    width: inherit;
  }

  .entrysHeader div {
    font-weight: bold;
    text-align: center;
    width: inherit;
  }

    .entry div:nth-child(1), .entrysHeader div:nth-child(1) {
      min-width: 5%;
    }

    .entry div:nth-child(2), .entrysHeader div:nth-child(2) {
      min-width: 45%;
    }

  .entry div:nth-child(2) {
    text-align: left;
  }

#balanceTable {
  margin-top: 40px;
}
/* table balance */
.mat-header-row {
  height: auto;
}
.mat-header-row th{
  text-align: center;
}

table.balance th.empty-header {
  visibility: hidden;
}

table.balance td {
  text-align: right;
  height: 50%;
  padding: 0.25em;
}

table.balance .boldRow {
  font-weight: bold;
}

/* table kp */
table.kp {
  clear: both;
  width: 100%;
}

  table.kp th {
    font-weight: bold;
    text-align: center;
  }

    table.kp th:nth-child(1) {
      width: 10mm;
    }

    table.kp th:nth-child(3) {
      width: 50mm;
    }

    table.kp th:nth-child(4) {
      width: 50mm;
    }

  table.kp tr:last-child td:first-child,
  table.kp tr:last-child td:last-child {
    border: 0px
  }

/* aside */

aside {
  margin: 2em 0 5em 0
}

  aside h1 {
    border: none;
    border-width: 0 0 1px;
    margin: 0 0 1em;
  }

  aside h1 {
    border-color: #999;
    border-bottom-style: solid;
  }

  aside .contractor {
    float: left;
    font-size: 100%;
    font-style: normal;
    line-height: 1.25;
    margin: 0 1em 1em 0;
    width: 50%;
  }

  aside .user {
    font-size: 100%;
    font-style: normal;
    line-height: 1.25;
    margin: 0 1em 1em 0;
  }

.printonly {
  display: none;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

div.markedOut {
  font-size: large
}

div.footer {
  width: 100%;
  font-size: 100%;
  line-height: 1.25;
  color: #bbbbbb;
  margin: 0 0 1mm 0;
  border-top: 1px solid #aaaaaa;
}

  div.footer .watermark {
    float: left;
  }

  div.footer .pager {
    float: right;
  }

/* javascript */
/*@media print {*/
* {
  -webkit-print-color-adjust: exact;
}

html {
  background: none;
  padding: 0;
}

body {
  box-shadow: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto
}

span:empty {
  display: none;
}

.nobreak {
  page-break-inside: avoid;
}

.printonly {
  display: block;
  border: 1px solid red;
}
/*}*/

@page {
  margin: 0;
}
