@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  font-family: 'Press Start 2P', cursive;
  box-sizing: border-box;
}
div {
  margin-bottom: 14%;
  margin-left: 41%;
  top: 20px;
}
.main {
    margin:0;
    padding-top:30%;
  background: black;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 10px;
  color: #54FE55;
  font-size: 100px;
  flex-direction: column;
}
.txt {
  font-size: 0.5em;
}

@keyframes blink {
  0% {
    opacity: 0
  }

  49% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 1
  }
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
