.spacer {
  flex: 1 1 auto;
}

#menu {
  margin-bottom: 420px;
  background-color: transparent;
}

  #menu * {
    color: white;
  }

  #menu > mat-toolbar-row {
  }

#mainMenu, #employeeMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  align-items: center;
}

#slider {
  position: relative;
}

  #slider > img {
    position: absolute;
    width: 3000px;
    height: auto;
    display: block;
    top: -32px;
  }

/*    #slider > img:first-child {
      left: calc((3000px - 100vw) / -2);
    }*/
.sliderMarginLeftUpTo3000 {
  left: calc((3000px - 100vw) / -2);
}
.logoSliderMarginLeftto150 {
  left: -130px;
}


.marginLeft {
  margin-left: 15px;
}

.marginRight {
  margin-right: 15px;
}

.bgColorBlackNavyBlue {
  background-color: #18263A;
}
.langButton {
  background-color: initial;
  border: none;
}
@media (max-width: 600px) {
  .sliderMarginLeftUpTo3000 {
    left: -1000px;
  }
}
@media (max-width: 360px) {
  .logoSliderMarginLeftto150 {
    left: -420px;
    transform: scale(0.8,0.8);
  }
  .logInLabel {
      display:none;
  }
}
