<div>
  <mat-toolbar>
    <mat-toolbar-row class="toolbar">
      <button class="toolbarButton" mat-icon-button (click)="add()">
        Dodaj użytkownika<mat-icon>person_add</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <swi-table (elementDblClick)="dbClickHandler($event)" [sortActive]="sortActive" [requestUrl]="requestUrl" [headerRow]="headerRow" [validators]="validators" [selection]="selection" [displaySelections]="false" [displayFilters]="true" [refreshTable]="refreshTable.asObservable()"></swi-table>
</div>

