table {
  width: 100%;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

::ng-deep .mat-sort-header-container .mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0;
}

.selectdisplayfix {
  display: block;
}

.toolbarButton {
  font-size: large;
}

.mat-icon-button {
  width: auto;
}

:host ::ng-deep .mat-sort-header-container {
  width: 100%;
}

  :host ::ng-deep .mat-sort-header-container .mat-sort-header-content {
    width: 80%;
  }

.rangeFilter .mat-form-field {
  width: 50% !important;
}

td, th {
  padding-right: 0 !important;
  border: 0 !important;
}
