<div class="card">
    <div class="card-body">
      <h1 class="card-title">{{ 'AUTHENTICATION.RESET_PASSWORD.LABEL' | translate }}</h1>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
          {{ 'AUTHENTICATION.RESET_PASSWORD.PASSWORD_RESET' | translate }} <a [routerLink]="['/authentication/login']">{{ 'AUTHENTICATION.RESET_PASSWORD.CLICK' | translate }}</a>
        </div>

        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="form-group row">
              <label for="password" class="col-form-label col-sm-2">{{ 'AUTHENTICATION.RESET_PASSWORD.FORM.PASSWORD' | translate }}</label>
                <div class="col-md-5">
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
                <div class="col-md-5">
                  <em *ngIf="validateControl('password') && hasError('password', 'required')">{{ 'AUTHENTICATION.RESET_PASSWORD.FORM.PASSWORD_REQUIRED' | translate }}</em>
                </div>
            </div>
            <div class="form-group row">
              <label for="confirm" class="col-form-label col-sm-2">{{ 'AUTHENTICATION.RESET_PASSWORD.FORM.PASSWORD_CONFIRM' | translate }}</label>
                <div class="col-md-5">
                    <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                </div>
                <div class="col-md-5">
                  <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">{{ 'AUTHENTICATION.RESET_PASSWORD.FORM.LABEL' | translate }}</em>
                  <em *ngIf="hasError('confirm', 'mustMatch')">{{ 'AUTHENTICATION.RESET_PASSWORD.FORM.LABEL' | translate }}</em>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-md-1">          
                  <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">{{ 'AUTHENTICATION.RESET_PASSWORD.REGISTER' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
